doctype html
html(lang="en")
	head
		title Torre Utopía
		meta(charset="utf-8")
		script(src="index.min.js")
		link(href="css/main.css", rel="stylesheet")
	body
		canvas#gjs-canvas Your browser doesn't support Canvas
			a(href="https://affiliates.mozilla.org/referral/67103/")
				img(src="https://affiliates.mozilla.org/media/uploads/image_banners/3ba7e5f2570142c8b8c58c2f5c3eb448403aee52.png")
